/**********************************************************************************/
/*********************************  Logo on Hover  ********************************/
/**********************************************************************************/
.pull-left:hover{
    -webkit-animation: tada 2s;
}

@-webkit-keyframes tada{
    0%{
        transform: scale3d(1, 1, 1);
    }
    
    10%, 20%{
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    
    30%, 50%, 70%, 90%{
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    
    40%, 60%, 80%{
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    
    100%{
        transform: scale3d(1, 1, 1);
    }
}

/**********************************************************************************/
/**********************************  Animate In  **********************************/
/**********************************************************************************/

/************************************  zoomIn  ************************************/
.zoomIn{
    -webkit-animation: zoomIn 2s;
}

@-webkit-keyframes zoomIn{
    0%{opacity: 0; transform: scale3d(.3, .3, .3);}
    50%{opacity: 1;}
}

/***********************************  zoomInUp  ***********************************/
.zoomInUp{
    -webkit-animation: zoomInUp 1.5s;
}

@-webkit-keyframes zoomInUp {
    0%{
        opacity: 0; transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60%{
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

/************************************  rollIn  ************************************/
.rollIn{
    -webkit-animation: rollIn 2s;
}

@-webkit-keyframes rollIn{
    0%{
        opacity: 0;transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
    100%{
        opacity: 1;transform: none;
    }
}

/**********************************  lightSpeedIn  ********************************/
.lightSpeedIn{
    -webkit-animation: lightSpeedIn 2s;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes lightSpeedIn{
    0%{
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    
    60%{
        transform: skewX(20deg);
        opacity: 1;
    }
    
    80%{
        transform: skewX(-5deg);
        opacity: 1;
    }
    
    100%{
        transform: none;
        opacity: 1;
    }
}

/************************************  flipInX  *********************************/
.flipInX{
    backface-visibility: visible !important;
    -webkit-animation: flipInX 2s;
}

@-webkit-keyframes flipInX{
    0%{
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    
    40%{
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }
    
    60%{
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    
    80%{
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    
    100%{
        transform: perspective(400px);
    }
}

/**********************************  slideExpandUp  *******************************/

.slideExpandUp{
    -webkit-animation: slideExpandUp;   
    -webkit-animation-duration: 1.6s;
    -webkit-animation-timing-function: ease -out;
}

@-webkit-keyframes slideExpandUp{
    0%{
        -webkit-transform: translateY(100%) scaleX(0.5);
    }
    30%{
        -webkit-transform: translateY(-8%) scaleX(0.5);
    }   
    40%{
        -webkit-transform: translateY(2%) scaleX(0.5);
    }
    50%{
        -webkit-transform: translateY(0%) scaleX(1.1);
    }
    60%{
        -webkit-transform: translateY(0%) scaleX(0.9);      
    }
    70%{
        -webkit-transform: translateY(0%) scaleX(1.05);
    }           
    80%{
        -webkit-transform: translateY(0%) scaleX(0.95);     
    }
    90%{
        -webkit-transform: translateY(0%) scaleX(1.02);
    }   
    100%{
        -webkit-transform: translateY(0%) scaleX(1);        
    }
}

/**************************************  swap  ***********************************/

.swap{
    -webkit-animation-name: swap;
    -webkit-animation-duration: 1.6s;
}

@-webkit-keyframes swap{
    0%{
        opacity: 0;
        -webkit-transform-origin: 0 100%;
        -webkit-transform: scale(0, 0) translate(-700px, 0px);
    }
    100%{
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        -webkit-transform: scale(1, 1) translate(0px, 0px);;
    }
}

/****************************  perspectiveDownRetourn  ***************************/

.perspectiveDownRetourn{
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: perspectiveDownRetourn;
    -webkit-animation-duration: 1.6s;
}

@-webkit-keyframes perspectiveDownRetourn{
    0%{
        -webkit-transform-origin: 0 100%;
        -webkit-transform: perspective(800px) rotateX(-180deg);
    }
    
    100%{
        -webkit-transform-origin: 0 100%;
        -webkit-transform: perspective(800px) rotateX(0deg);
    }
}

/**********************************************************************************/
/**********************************  Animate Out  *********************************/
/**********************************************************************************/

/******************************  rotateOutDownRight  ******************************/
.rotateOutDownRight{
    -webkit-animation: rotateOutDownRight 2s;
}

@-webkit-keyframes rotateOutDownRight{
    0%{transform-origin: right bottom; opacity: 1 }
    50%{transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -45deg);opacity: 0;}
    }
    
    /**************************************  hinge  ***********************************/
    .hinge{
        -webkit-animation: hinge 2s;
    }
    
    @-webkit-keyframes hinge{
        0%{
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }
        20%, 60%{
            transform: rotate3d(0, 0, 1, 80deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }
        
        40%, 80%{
            transform: rotate3d(0, 0, 1, 60deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }
        100%{
            transform: translate3d(0, 700px, 0);
            opacity: 0;
        }
    }
    
    /************************************  rollOut  ************************************/
    .rollOut{
        -webkit-animation: rollOut 2s;
    }
    
    @-webkit-keyframes rollOut{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);;
        }
    }
    
    /**********************************  lightSpeedOut  ********************************/
    .lightSpeedOut{
        -webkit-animation: lightSpeedOut 2s;
        -webkit-animation-timing-function: ease-in;
    }
    
    @-webkit-keyframes lightSpeedOut{
        0%{
            opacity: 1;
        }
        
        100%{
            transform: translate3d(100%, 0, 0) skewX(30deg);
            opacity: 0;
        }
    }
    
    /************************************  flipOutX  *********************************/
    .flipOutX{
        backface-visibility: visible !important;
        -webkit-animation: flipOutX 2s;
    }
    
    @-webkit-keyframes flipOutX{
        0%{
            transform: perspective(400px);
        }
        
        30%{
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            opacity: 1;
        }
        
        100%{
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            opacity: 0;
        }
    }