html, body {
	height: 100%;
	overflow: hidden;
}

html {
	margin: 0 auto;
	padding: 0;
}

body {
	background-color: #27ae60;
	color: white;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.questionSelect {
	display: block;
	width:100%;
	list-style-type: none;
	margin-bottom:20px;
}

.questionSelect li {
	padding: 10px;
	width:40px;
	height:40px;
	float: left;
	text-align: center;
	border-radius: 50%;
	background-color:white;
	margin-left: 5px;
	margin-right: 5px;
	font-weight:bold;
	color: #27ae60;
}

.questionSelect a li {
	text-decoration: none;
	display:none;
}

.questionSelect a li:hover {
	background-color: #27ae60;
	color:white;
	box-shadow: 3px 2px rgba(0,0,0,.3);
}

.progressBar {
	width: 100%;
	background-color: rgba(0,0,0,.2);
	border-radius: 5px;
}

.logoHeader {
	height:100px;
	margin-top:20px;
}

.questionImg {
	height:300px;
	margin-top:20px;
	margin-bottom:20px;
}

.qNumInput { 
	color:black;
}

.errorText {

}

.input-range {
	-webkit-appearance: none;
	width: 200px;
	height: 10px;
	border-radius: 5px;
	background: #ccc;
	outline: none;
	float: left;
	margin-top: 9px;
}

input[type=range] {
	width: 90%;
}

.range-value {
	display: inline-block;
	position: relative;
	width: 60px;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: #353535;
	padding: 5px 10px;
	margin-left: 7px;
	float: left;
}

.range-value:hover {
	background: #e06161;
}

.range-value:after {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #353535;
	border-bottom: 7px solid transparent;
	content: '';
}

.drawSVG{
	fill:none;
	stroke: #FFFFFF;
	stroke-width:5;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}

.drawSVG {
	stroke-dasharray: 2300;
	stroke-offset:0;
	-webkitanimation: dash 3s linear forwards;
	-o-animation: dash 3s linear forwards;
	-moz-animation: dash 3s linear forwards;
	animation: dash 3s linear forwards;
}

@-webkit-keyframes dash{
	from{
		stroke-dashoffset: 2000;
	}
	to{
		stroke-dashoffset: 0;
	}
}
