html, body {
	height: 100%;
	overflow: hidden;
}

html {
	margin: 0 auto;
	padding: 0;
}

body {
	background-color: #27ae60;
	color: white;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.questionSelect {
	display: block;
	width:100%;
	list-style-type: none;
	margin-bottom:20px;
}

.questionSelect li {
	padding: 10px;
	width:40px;
	height:40px;
	float: left;
	text-align: center;
	border-radius: 50%;
	background-color:white;
	margin-left: 5px;
	margin-right: 5px;
	font-weight:bold;
	color: #27ae60;
}

.questionSelect a li {
	text-decoration: none;
}

.questionSelect a li:hover {
	background-color: #27ae60;
	color:white;
	box-shadow: 3px 2px rgba(0,0,0,.3);
}

.progressBar {
	width: 100%;
	background-color: rgba(0,0,0,.2);
	border-radius: 5px;
}

.logoHeader {
	height:100px;
	margin-top:20px;
}

.logoHeader:hover {
	height:110px;
}

.questionImg {
	height:300px;
	margin-top:20px;
	margin-bottom:20px;
}

.qNumInput { 
	color:black;
}

.errorText {

}
